{% extends 'layout/basic.html' %}
{% load static %}
{% block title %}登录{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static '/appweb/css/account.css' %}">
{% endblock %}
{% block content %}
<div class="account">
    <h1>login</h1>
    <form id='loginform'>
        {% csrf_token %}
        {% for filed in form %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{field.label}}</label>
            {{filed}}
        </div>
        {% endfor %}
        <div>
            <input type="button" class="btn btn-primary" onclick="login();" value="登录">
        </div>
    </form>
</div>
{% endblock %}
{% block js %}
<script>
    function login() {
        var csrf = $('input[name="csrfmiddlewaretoken"]').val()
        var userid = $('input[name="userid"]').val()
        var password = $('input[name="password"]').val()
        $.ajax({
            url: "/appweb/login/",
            type: "POST",
            data: {
                'csrfmiddlewaretoken': csrf,
                'userid': userid,
                'password': password
            },
            dataType: "JSON",
            success: function (data) {
                if (!data.status) {
                    $('#id_password').val("")
                    console.log(data.message)
                    $.each(data.message, function (key, value) {
                        $('#id_' + key).val("")
                        $('input[name=' + key + ']').attr('placeholder', value[0])
                    })
                } else {
                    alert(data.status)
                }
            }
        })
    }
</script>
{% endblock %}
